.project:hover .description {
	background-color: #5f6396;
}

.header {
	font-size: clamp(1.4rem, 5vw, 2.5rem);
	letter-spacing: -0.02em;
	/* text-align: center; */
	font-weight: 800;
	color: #ffffff;
}

.experience .name:hover .photo {
	background-color: #5f6396;
}

.experience .photo:hover {
	border-top: 1.2rem solid #373a58;
	border-left: 2rem solid #373a58;
	background-color: #373a58;
}

.experience img {
	transition: all 0.3s ease-in-out;
	filter: brightness(90%);
}

.experience img:hover {
	filter: unset;
}
